[Unit]
Description=Check OpsCenter continuity every minute

[Timer]
OnBootSec=20
OnUnitActiveSec=60
AccuracySec=1
Unit=opscenter-continuity-monitor.service

[Install]
WantedBy=timers.target
