<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.opscenter.continuity-database</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/missioncontrol/Library/Application Support/OpsCenter/continuity-control/publish-continuity-database.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/missioncontrol/Library/Logs/OpsCenter/continuity-database.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/missioncontrol/Library/Logs/OpsCenter/continuity-database.out.log</string>
	<key>StartInterval</key>
	<integer>180</integer>
</dict>
</plist>
